@model Offertguiden.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        padding-top: 10%;
        line-height: 26px;
        font-family: Verdana;
    }

    .refPic {
        height: 500px;
        max-width: 100%;
        padding-top: 2%;
    }

    #center {
        text-align: center;
    }

    .h4Ref {
        padding-top: 18%;
    }
    #borderLeft {
        border-left: 1px ridge gray;
        height: 1000px;
    }
</style>

<div class="col-md-8">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h5>Skapad: @Html.DisplayFor(model => model.Date)</h5>
    <img class="refPic" src="@Html.DisplayFor(model => model.Picture)" />
    <br /><br />
    <p>
        @Html.DisplayFor(model => model.Text)
    </p>
</div>

<div class="col-md-4" id="borderLeft">

</div>

