@model Offertguiden.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="~/css/blog.css">


<div class="col-md-9">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h5>@Html.DisplayFor(model => model.Date)</h5>
    <img class="refPic" src="@Html.DisplayFor(model => model.Picture)" />
    <br /><br />
    <p>
        @Html.DisplayFor(model => model.Text)
    </p>
</div>

<div class="col-md-3" id="borderLeft">

</div>

